# IDEs
.vs
.idea

# Allow some Visual Studio Code files.
!.vscode/settings.json
!.vscode/extensions.json
.vscode

# Node Modules
node_modules

# Expo
.expo
expo-env.d.ts

# Turborepo
.turbo

# Build
dist
build

# Environment
.env*
